nav.navbar {
  padding-left: 3em;
  background-color: #3a3a3a;
}

ul.lap_feat {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: small;
  }

  h1.price {
    text-align: center;
  }
  
  h2.features {
    font-size: medium;
    font-weight: bold;
    margin-top: 25px;
  }
  
  button.get_the_loan {
    background-color: #98fb98  ;
  }
  
  button.bank {
    background-color: #ccff00 ;
  }
  
  button.work {
    background-color: #4169e1  ;
    color: #ffffff;
  }

  button.buy_now {
    background-color: #4f99ac;
    font-weight: bold;
  }
  
  button.repay_loan {
    background-color: #550e23;
    color: #ffffff;
  }
  